/* .torrex-fitness {
  font-family: "Vazirmatn", sans-serif;
}
.button {
  margin: auto;
  text-align: center;
  width: 50px;
}
table {
  width: 500px;
  border-collapse: collapse;
  table-layout: fixed;
}
td {
  vertical-align: top;
  padding: 5px;
  word-wrap: break-word;
}
#image-placeholder {
  background-color: tan;
  padding: 10px;
  border: 3px brown solid;
  width: 400px;
} */
